# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
venv_tf/
venv_tf310/
env/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Fichiers de logs
*.log

# Fichiers temporaires
*.tmp
*.temp
*.swp
*~

# Fichiers de sauvegarde TensorFlow, modèles et checkpoints
outputs/
saved_model/
*.h5
*.ckpt
checkpoint

# IDEs & éditeurs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Mac OS
.DS_Store

# Windows
Thumbs.db
